.bg {
  background-image: linear-gradient(44.59deg, #d5e2e9 0%, #eaeef1 100%);
  width: 1100px;
  height: 410px;
}
.info div {
  position: absolute;
}

.group {
  background-color: #ffffff;
  box-shadow: 0 8px 19px 0 rgba(0, 0, 0, 0.05);
  width: 700px;
  height: 510px;
}
.info {
  width: 1100px;
  margin-top: 115px;
  margin-left: auto;
  margin-right: auto;
  height: 700px;
}

.Group {
  z-index: 1;
  top: 670px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  left: 0;
  right: 0;
}

.heading {
  position: absolute;
  color: #31373d;
  font-family: AktivGrotesk;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  left: 470px;
  top: 560px;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .info {
    margin-top: 50px;
    width: 50%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .heading {
    left: 30%;
  }
  .group {
    width: 95%;
  }
  .Group {
    left: 5%;
  }
  .bg {
    width: 100%;
  }
  .BG {
    width: 97%;
  }
}
